.rouge{
	background :red;
}

.blanc{
	background :white;
}

.bleu{
	background :blue;
}

img{
	margin:auto;
	width:100%;
	max-width:500px;
	display:block;
}

input{
	display:block;
	margin:auto;
	margin-bottom:15px;
}

