.rouge{
	background-color:red;
}

.blanc{
	background-color :white;
}

.bleu{
	background-color :blue;
}
h1{
	font-size:8vw;
}
img{
	margin:auto;
	width:100%;
	max-width:500px;
	display:block;
}
table{
	margin:auto;
	border-collapse:collapse;
	border : 2px solid blue;
	text-align:center;
}

td,th{
	border: 1px solid black;
	
}

input{
	display:block;
	margin:auto;
	margin-bottom:15px;
}

p{
	font-size:1rem;
}


@media screen and (max-width: 600px){
	.rouge{
		background-color:yellow;
		
	
	}
	th,td{
		display:block;
	}
}
